Django==2.2.22
djangorestframework==3.10.2
neo4j-driver==1.6.3
neomodel==3.3.1
neotime==1.7.4
PyJWT==1.7.1
pytz==2019.2
six==1.12.0
sqlparse==0.3.0
gunicorn==19.9.0
django-heroku==0.3.1
mongoengine==0.18.2
dnspython==1.16.0
